# .env.example

# This is an example file for running the app locally.
# This must be copied into .env file

# URL to the MongoDB database
DB_URL='your-db-url-with-user-and-password'

# Webapp port
PORT='port-number'

# Pinata config https://www.pinata.cloud/
GATEWAY = 'https://<pinata-gateway>/ipfs/'
PINATA_API_KEY = 'pinata-api-key'
PINATA_SECRET_KEY = 'pinata-secret-key'