# .env.example

# This is an example file for running the app locally.
# This must be copied into .env file

# URL to the MongoDB database
DB_URL='your-db-url-with-user-and-password'

# Webapp port
PORT='port-number'